@{
    ViewData["Title"] = "View Car Details";
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CarDealership.DataAccess
@model IEnumerable<Car>

<h2>Selected Car</h2>

<table>
    <tr>
        <th>Plate Number</th>
        <th>Lot Number</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
        <th>Color</th>
        <th>Condition</th>
        <th>Salesman ID Number</th>
    </tr>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.PlateNumber</td>
                <td>@car.LotID</td>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.ModelYear</td>
                <td>@car.Price</td>
                <td>@car.Color</td>
                <td>@car.CarStatus</td>
                <td>@car.SalesmanID</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="BusinessLogicLayer" asp-action="CustomerIndex">Return to Home Page</a>
